<?php

namespace {{testClassNamespace}};

use {{FQCN}};
{{useStatements}}

class {{testClassName}} extends {{baseClass}}
{
    /**
     * @var {{className}}
     */
    protected ${{classVarName}};

    public function setup()
    {
        $this->{{classVarName}} = new {{className}}();
    }

    public function tearDown()
    {
        $this->{{classVarName}} = null;
    }

    public function testCanConstruct()
    {
        return $this->markTestIncomplete('implementation missing');
    }

    public function testClassDefaults()
    {
        return $this->markTestIncomplete('implementation missing');
    }

{{testMethods}}
}