    public function {{methodName}}()
    {
        $val_1 = new {{targetEntity}}();
        $val_2 = new {{targetEntity}}();

        $fluent = $this->{{classVarName}}->{{adder}}($val_1);
        $this->assertSame($this->{{classVarName}}, $fluent);
        $this->assertSame(1, $this->{{classVarName}}->{{getter}}()->count());

        $this->{{classVarName}}->{{adder}}($val_2);
        $this->assertEquals(true, $this->{{classVarName}}->{{getter}}() instanceof ArrayCollection);
        $this->assertEquals(2, $this->{{classVarName}}->{{getter}}()->count());
        $this->assertSame($val_1, $this->{{classVarName}}->{{getter}}()->get(0));
        $this->assertSame($val_2, $this->{{classVarName}}->{{getter}}()->get(1));

        $this->{{classVarName}}->{{remover}}($val_1);
        $this->assertEquals(1, $this->{{classVarName}}->{{getter}}()->count());
        $this->assertSame($val_2, $this->{{classVarName}}->{{getter}}()->get(1));
    }