    public function {{methodName}}()
    {
        $fluent = $this->{{classVarName}}->{{setter}}({{val_0}});
        $this->assertSame($this->{{classVarName}}, $fluent);
        $this->assertEquals({{val_0}}, $this->{{classVarName}}->{{getter}}());

        $this->{{classVarName}}->{{setter}}(null);
        $this->assertEquals(null, $this->{{classVarName}}->{{getter}}());
    }