    public function {{methodName}}()
    {
        $var = {{val_0}};
        $fluent = $this->{{classVarName}}->{{setter}}($var);
        $this->assertSame($this->{{classVarName}}, $fluent);
        $this->assertSame($var, $this->{{classVarName}}->{{getter}}());
    }
